{{!-- IMAGE OF A DONUT --}}
<h1 class="text-center">Donut App</h1>
<img  src="/assets/donut.png" alt="Donut" class="center">

<ul>
  {{#each donuts}}
  {{#unless devoured}}
  <li>
    <p>
      {{donut_name}}

      <button data-id="{{id}}" class="eatDonutBtn">Devour it!</button>
    </p>
  </li>
  {{/unless}}
  {{/each}}
</ul>
<hr>

<ul class="eatADonut float-right">
  {{#each donuts}}
  {{#if devoured}}
  <li>
    <p>
      {{donut_name}}

    </p>
  </li>
  {{/if}}
  {{/each}}
</ul>



<section class="text-center">
  <h2>Add a Donut</h2>
  <form class="create-form">

    <div class="form-group">
      <input type="text" id="newDonut" name="donut">
    </div>
    <div class="text-center">
      <button type="submit">Add Donut!</button>
    </div>
  </form>
</section>
