{{!-- IMAGE OF A DONUT --}}
<h1 class="text-center">Donut App</h1>
<img  src="/eatTheDonutApp/public/assets/donut.png" alt="Donut" class="center">>

<ul>
  {{#each donuts}}
  {{#unless devoured}}
  <li>
    <p>
      {{donut_name}}

      <button data-id="{{id}}" class="eatDonutBtn">Devour it!</button>
    </p>
  </li>
  {{/unless}}
  {{/each}}
</ul>
<hr>

<ul class="eatADonut float-right">
  {{#each donuts}}
  {{#if devoured}}
  <li>
    <p>
      {{donut_name}}

    </p>
  </li>
  {{/if}}
  {{/each}}
</ul>

<form class="container" >
  <textarea class="row text-center" type="text" name="donut"></textarea>

  <button class="mt-3"id="newDonutBtn " type="submit">ADD DONUT!</button>
</form>

<script type="text/javascript">
  $(".eatDonutBtn").on("click", function (event) {
    console.log(" mm DONUTS")
    event.preventDefault()
    var id = $(this).data("id")
    console.log(id)
    $.ajax("/api/donuts/" + id, {
      type: "PUT",
      data: data
    }).then(
      function () {

        window.location = "/";
      }
    );




  });



</script>